body{
    overflow: hidden;
}
.gradient-custom {
    background: #00aeff;
    background: -webkit-linear-gradient(to right bottom, rgb(101, 203, 246), rgb(255, 255, 255));
    background: linear-gradient(to right bottom, rgb(0, 217, 255), rgb(255, 255, 255))
    }
